<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rabbiter.hospital.mapper.PatientMapper">
    <select id="patientAge" resultType="Integer">
        select count(p_id) as agePeople from patient where
            p_age BETWEEN #{startAge} AND #{endAge}
    </select>

    <select id="selectCount" resultType="Long">
        select count(*) from patient
        <where>
            <if test="pId != null">
                and p_id = #{pId}
            </if>
            <if test="pEmail != null">
                and p_email = #{pEmail}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.rabbiter.hospital.pojo.Patient">
        insert into patient (
            p_id, p_name, p_password, p_gender, 
            p_card, p_phone, p_birthday, p_email, 
            p_age, p_state
        ) values (
            #{pId}, #{pName}, #{pPassword}, #{pGender}, 
            #{pCard}, #{pPhone}, #{pBirthday}, #{pEmail}, 
            #{pAge}, #{pState}
        )
    </insert>
</mapper>